.bg-custom {
    background: rgb(var(--background));
}
.text-custom {
    color: rgb(var(--text-color));
}
.announcement-bar{
  display:flex;
  padding:13px 0px;
  background:#000;
  color :#fff;
}

.border-root-arown{
  height:4px;
  width:4px;
  border-radius:999px;
  background:white;
  margin: 0px 80px;
}

.logo{
  width:160px;
}
.relative {
    position: relative;
}

.menu-nav-pc .menu-items-pc{
  display:flex;
  gap: 1rem 3rem;
   color:var(--text-color);
   font-size:18px;
}
details > summary{
  list-style:none;
  color:var(--text-color);
  cursor:pointer;
}

.dropdown-menu {
  gap: var(--spacing-3);
  width: max-content;
  max-width: 350px;
  padding: var(--spacing-5) var(--spacing-7);
  background: rgb(var(--header-background));
  color: rgb(var(--header-text));
  border-radius: 8px;
  box-shadow: var(--shadow), 0 0 0 1px rgb(var(--text-color) / .12);
  z-index: 10;
  display: grid;
  position: absolute;
  border: 1px solid #f3e4e4;
  top: calc(100% + var(--spacing-4-5));
  
}

.dropdown-menu::before {
  content: "";
  width: 100%;
  height: var(--spacing-4-5);
  position: absolute;
  bottom: 100%;
}

.dropdown-menu:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)):before {
  left: calc(-1 * var(--spacing-4));
}

.dropdown-menu:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)):before {
  right: calc(-1 * var(--spacing-4));
}

.js .dropdown-menu {
  opacity: 0;
}

.dropdown-menu .dropdown-menu {
  top: calc(-1 * var(--spacing-5));
}

.dropdown-menu .dropdown-menu:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  left: calc(100% + var(--spacing-7));
}

.dropdown-menu .dropdown-menu:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
  right: calc(100% + var(--spacing-7));
}

.dropdown-menu__item {
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-6);
  opacity: .7;
  transition: opacity .2s ease-in-out;
  display: flex;
}

[open] .dropdown-menu{
  opacity: 1;
}
[open] > .dropdown-menu__item, .dropdown-menu__item:hover {
  opacity: 1;
}

.mega-menu__promo-carousel {
  max-width: 300px;
  position: relative;
}

.contents {
    display: contents;
}
.dropdown-menu__item {
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-6);
    opacity: .7;
    transition: opacity .2s ease-in-out;
    display: flex;
}
.reversed-link {
    text-decoration: none;
    background: linear-gradient(to right,currentColor,currentColor) 0 min(100%,1.35em) / 0 1px no-repeat;
    transition: background-size .3s ease-in-out;
}
.icon-chevron-bottom {
    position: relative;
    top: 1px;
}
.text-with-icon>svg {
    flex-shrink: 0;
}
.icon-chevron-bottom {
    transition: transform .2s ease-in-out;
}
.icon {
    vertical-align: middle;
   
}

.dropdown-menu__item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #000000;
    transition: all .6s ease;
}
.dropdown-menu__item:hover:after {
    content: '';
    width:100%;
}
.mid-header {
  padding:18px 0px;
}
.mid-header.sticky{
  position:fixed;
  z-index:20;
  top:0;
  right:0;
  left:0;
  backdrop-filter: blur(20px);
}
.header__secondary-nav {
    justify-content: flex-end;
    justify-self: end;
    align-items: center;
    gap: var(--spacing-3) var(--header-part-gap);
    flex-wrap: wrap;
    grid-area: secondary-nav;
    display: flex;
}
.header__icon-list {
    align-items: center;
    gap: 3rem;
    display: flex;
}
.sr-only {
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.tap-area {
    position: relative;
}
.tap-area:before {
    content: "";
    inset: calc(-1 * var(--spacing-2-5));
    position: absolute;
}
.header__cart-count {
    top: -0.3125rem;
    position: absolute;
    left: 1.3rem;
}
.count-bubble {
    --size: 14px;
    width: var(--size);
    height: var(--size);
    min-width: min-content;
    border-radius: var(--rounded-full);
    background: rgb(var(--button-background-primary));
    color: rgb(var(--button-text-primary));
    place-items: center;
    padding-inline-start: var(--spacing-1);
    padding-inline-end: var(--spacing-1);
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    display:flex;
    align-items:center;
    justify-content:center;
}
.overlay {
    display:none;
    min-height: 100lvh;
    background: #0006;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:12;
    cursor:url(https://statics.pancake.vn/web-media/6a/22/06/ee/f67ca91a359d0dd763067b2dd9727eb4cd725c2e4952fc0d6c8b0a25.svg) 28 28,auto;
}

.search-content,.cart-content{
   position: fixed;
    z-index: 100;
    top: 15px;
    right: 15px;
    background-color: white;
    overflow-x: hidden;
    bottom: 15px;
    border-radius: 8px;
    width: 100%;
    transform: translateX(200%);
    transition: all .3s ease-in-out;
    /*padding: 2rem 2.5rem 2.5rem 2.5rem;*/
}
.menu-items-mobile{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    top: 15px;
    left: 15px;
    background-color: white;
    overflow-x: hidden;
    bottom: 15px;
    border-radius: 8px;
    width: 100%;
    transform: translateX(-200%);
    transition: all .3s ease-in-out;
    
}
.search-content{
    padding: 2rem 2.5rem 2.5rem 2.5rem;
}
.cart-content{
   display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poiter-cur{
  cursor:pointer;
}
.search-input {
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-4);
    border-bottom-width: 2px;
    padding-block-end: var(--spacing-2-5);
    transition: border-bottom-color .1s;
    display: flex;
}
.search-input>input {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    font-size: var(--text-h5);
    background: none;
    border-radius: 0;
    outline: none;
    flex-grow: 1;
   
    
}
.search-input>[type=reset] {
    font-size: var(--text-sm);
    opacity: 0;
    transition: opacity .2s;
}
.search-input>input:not(:placeholder-shown)~[type=reset] {
    opacity: 1;
}
.predictive-search {
    min-width: 0;
    display: block;
}
.predictive-search__tabs {
    gap: var(--spacing-4);
    display: grid;
}
.predictive-search__tab-item {
    align-items: center;
    gap: var(--spacing-2);
    display: flex;
}
.gap-4 {
    gap: var(--spacing-4);
}
.v-stack {
    display: grid;
}
.predictive-search-result {
    align-items: center;
    gap: var(--spacing-5);
    display: flex;
}
.predictive-search-result>img {
    width: 10rem;
    flex-shrink: 0;
     border-radius: 8px;
    height: 127px;
    object-fit: cover;
}
.gap-1 {
    gap: var(--spacing-1);
}
.gap-0\.5 {
    gap: var(--spacing-0-5);
}
.justify-items-start {
    justify-items: start;
}
.bold {
    font-weight: 700;
}
.price-list {
    align-items: baseline;
    gap: var(--spacing-0-5) var(--spacing-2);
    flex-wrap: wrap;
    display: flex;
}
.text-on-sale {
    color: rgb(var(--on-sale-text));
}
.line-through {
    text-decoration: line-through;
}
.text-subdued {
    color: rgb(var(--text-color) / .7);
}
.see-more-btn{
 display:none;
 background:rgb(35 49 75);
 color:white;
  text-align: center;
  border-radius: 999px;
  padding: 15px 0px;
}
.body-cart{
  height:100%;
  display:flex;
  justify-content:center;
}
.empty-state.align-self-center{
  text-align:center;
}
.empty-state__icon-wrapper{
  position:relative;
  display:inline-block;
}
.count-bubble.count-bubble--lg{
  position: absolute;
    /* left: 0; */
    top: -10px;
    right: -20px;
    width: 3rem;
    height: 3rem;
    font-size:1.4rem;
}

.button:hover{
    background:white;
    color:rgb(35 49 75);
    
}
.cart-buttom-close{
  display:flex;
  justify-content:space-between;
}
.count-bubble-cart-items{
   width: 3rem;
    height: 3rem;
    font-size:1.4rem;
}
/*cart*/
.header-cart{
  padding: 2rem 2.5rem 0rem 2.5rem;
}
.body-cart-items{
  margin-top:30px;
  height:55vh;
}
.items-cart-add-cart{
   padding: 0rem 2.5rem 2.5rem 2.5rem;
   overflow-y:auto;
   height:100%;
   overscroll-behavior-y: contain;
}

.items-cart-box{
  display:flex;
  align-items:center;
  gap: var(--spacing-6);
  justify-content: space-between;
  margin-bottom: 30px;

}
.img-item{
  width:96px;
  height:127px;
 
}
.infor-names-items{
  flex:1;
}
.img-item img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius: 8px;
}
.name-items_cart a  {
  font-size:17px;
  color:#23314B;
}
.quantity-remove-box-item_header{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.quantity-remove-box-item_header .input-quantity-item{
  width:48px;
  border-color: rgba(--text-color);
  border-width:1px;
  padding:8px 0px;
  text-align:center;
  border-radius:8px;
}
.quantity-remove-box-item_header a{
    color:#23314BB3;
    font-size: 13px;
    line-height: 1.7;
    text-align:center;
    background: linear-gradient(to right,currentColor,currentColor) 0 min(100%,1.35em) / 100% 1px no-repeat;
    transition: background-size .3s ease-in-out,color .3s ease-in-out;
    margin-top:3px;
}
.cart_footer{
   padding: 2rem 2.5rem 2.5rem 2.5rem;
}
.title-content{
  font-size:18px;
  font-weight:700;
   color:#23314B;
}
.cart_footer-ship-content{
  font-size:15px;
   color:#23314BB3;
}
.link{
  background: linear-gradient(to right,currentColor,currentColor) 0 min(100%,1.35em) / 100% 1px no-repeat;
    transition: background-size .3s ease-in-out,color .3s ease-in-out;
}
.cart_footer-noteOrder{
  display:inline-block;
  font-size:15px;
  color:#23314BB3;
}


/*menu-bar mobile*/
.none-of-min-1170{
  display:block;
}
.menu-items-mobile_header{
  padding: 2rem 2.5rem 0rem 2.5rem;
}
.menu-items-mobile .menu-items-mobile_header > button[is=close-button] {
   
    border-width:1px;
    border-radius:50%;
    border-width: 1px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arow-btn-genaral{
  width: 25px;
    height: 25px;
    background: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-items-mobile_body{
   padding: 2rem 2.5rem 2.5rem 2.5rem;
   flex:1;
   /*max-height:55vh;*/
   overflow-y:auto;
   overscroll-behavior-y: contain;
}
.list_items_mobile{
  font-size:22px;
   color:#23314B;
}
.menu-item2-mobile{
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;

}
.menu-item2-mobile.active{
   height: auto;
   margin-left: 15px;
}
.menu-items_mobile_list{
  height:100%;
  
}
.menu-items-mobile_footer{
  padding: 2rem 2.5rem 2.5rem 2.5rem;
}
.social-media {
  display:flex;
  gap:1rem 2rem;
  padding-bottom: 10px;
}
.border-t {
    border-top-width: 1px;
}
.panel-footer__localization-wrapper{
   padding-top: 10px;
}