/*@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');*/
/*@font-face {*/
/*	font-family: DNTFonts;*/
/*	src: url('{{ "assets/font1.ttf" | asset_url_cache: cache_version  }}') format("truetype");*/
/*}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --main-color2:#D9967E;
    --background: #000;
    --text-white: #fff;
    --text-black: #000;
    --text-color: rgb(35 49 75);
    --spacing-0-5: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-1-5: 0.375rem;
    --spacing-2: 0.5rem;
    --spacing-2-5: 0.625rem;
    --spacing-3: 0.75rem;
    --spacing-3-5: 0.875rem;
    --spacing-4: 1rem;
    --spacing-4-5: 1.125rem;
    --spacing-5: 1.25rem;
    --spacing-5-5: 1.375rem;
    --spacing-6: 1.5rem;
    --spacing-6-5: 1.625rem;
    --spacing-7: 1.75rem;
    --spacing-7-5: 1.875rem;
    --spacing-8: 2rem;
    --spacing-8-5: 2.125rem;
    --spacing-9: 2.25rem;
    --spacing-9-5: 2.375rem;
    --spacing-10: 2.5rem;
    --spacing-11: 2.75rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-18: 4.5rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;
    --container-max-width: 1440px;
    --container-narrow-max-width: 1190px;
    --container-gutter: var(--spacing-5);
    --section-outer-spacing-block: var(--spacing-10);
    --section-inner-max-spacing-block: var(--spacing-9);
    --section-inner-spacing-inline: var(--container-gutter);
    --section-stack-spacing-block: var(--spacing-8);
    --grid-gutter: var(--spacing-5);
    --product-list-row-gap: var(--spacing-8);
    --product-list-column-gap: var(--grid-gutter);
    --input-gap: var(--spacing-2);
    --input-height: 2.625rem;
    --input-padding-inline: var(--spacing-4);
    --sticky-area-height: calc(var(--sticky-announcement-bar-enabled, 0) * var(--announcement-bar-height, 0px) + var(--sticky-header-enabled, 0) * var(--header-height, 0px));
    --transform-logical-flip: 1;
    --transform-origin-start: left;
    --transform-origin-end: right;
    --heading-font-family: Montserrat, sans-serif;
    --heading-font-weight: 600;
    --heading-font-style: normal;
    --heading-text-transform: normal;
    --heading-letter-spacing: 0.0em;
    --text-font-family: Montserrat, sans-serif;
    --text-font-weight: 400;
    --text-font-style: normal;
    --text-letter-spacing: 0.0em;
    --text-h0: 2.75rem;
    --text-h1: 2rem;
    --text-h2: 1.75rem;
    --text-h3: 1.375rem;
    --text-h4: 1.125rem;
    --text-h5: 1.125rem;
    --text-h6: 1rem;
    --text-xs: 0.6875rem;
    --text-sm: 0.75rem;
    --text-base: 0.875rem;
    --text-lg: 1.125rem;
    --accent: 35 49 75;
    --text-primary: 35 49 75;
    --background-primary: 255 255 255;
    --dialog-background: 255 255 255;
    --border-color: var(--text-color, var(--text-primary)) / 0.12;
    --button-background-primary: 35 49 75;
    --button-text-primary: 255 255 255;
    --button-background-secondary: 217 150 126;
    --button-text-secondary: 255 255 255;
    --success-background: 224 244 232;
    --success-text: 0 163 65;
    --warning-background: 255 246 233;
    --warning-text: 255 183 74;
    --error-background: 254 231 231;
    --error-text: 248 58 58;
    --on-sale-text: 248 58 58;
    --on-sale-badge-background: 248 58 58;
    --on-sale-badge-text: 255 255 255;
    --sold-out-badge-background: 0 0 0;
    --sold-out-badge-text: 255 255 255;
    --primary-badge-background: 30 49 106;
    --primary-badge-text: 255 255 255;
    --star-color: 255 183 74;
    --product-card-background: 255 255 255;
    --product-card-text: 35 49 75;
    --header-background: 255 255 255;
    --header-text: 35 49 75;
    --footer-background: 247 247 247;
    --footer-text: 35 49 75;
    --rounded-xs: 0.25rem;
    --rounded-sm: 0.3125rem;
    --rounded: 0.625rem;
    --rounded-lg: 1.25rem;
    --rounded-full: 9999px;
    --rounded-button: 3.75rem;
    --rounded-input: 0.5rem;
    --shadow-sm: 0 2px 8px rgb(var(--text-primary) / 0.0);
    --shadow: 0 5px 15px rgb(var(--text-primary) / 0.0);
    --shadow-md: 0 5px 30px rgb(var(--text-primary) / 0.0);
    --shadow-block: 0px 0px 50px rgb(var(--text-primary) / 0.0);
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-color: rgb(var(--header-text) / .12);
   font-family: 'Montserrat', sans-serif;
   font-weight:400;
}

ul{
  list-style:none;
}

html{
    font-size: 62.5%;
}
img {
    display: block;
}

body{
  
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
  
} 
a {
    color: unset;
    text-decoration: none;
 }
 
 button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}
button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button;
    text-align: inherit;
    background-color: #0000;
    background-image: none;
}
button, label, summary, [role=button], [type=checkbox], [type=radio], [type=submit] {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    cursor: pointer;
}
button, select {
    text-transform: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dlex-align-justi-center{
  display:flex;
  align-items:center;
  justify-content:center;
}
.dlex-align-justi-between{
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.title-element_H1{
    font-size: 44px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
}
.button,.btn{
    border-radius: 999px;
    padding: 15px 20px;
    background:rgb(35 49 75);
    color:white;
    font-weight: 700;
    line-height: 1.6;
    transition: background-color .15s ease-in-out,color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block;
    position: relative;
     border:2px solid rgb(35 49 75);
     cursor:pointer;
}
.button:hover,.btn:hover{
  background:white;
  color:currentColor;
  
}
.background-main2{
  background:var(--main-color2);
    border:2px solid var(--main-color2);
    
}
 .f-w-100{
  font-weight:100;
}
.f-w-200{
  font-weight:200;
}
.f-w-300{
  font-weight:300;
}
.f-w-400{
  font-weight:400;
}
.f-w-500{
  font-weight:500;
}
.f-w-600{
  font-weight:600;
}
.f-w-700{
  font-weight:700;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #000;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.h5, .prose h5:not(.h0,.h1,.h2,.h3,.h4,.h5,.h6) {
    font-size: 16px;
    line-height: 1.4;
}
.heading, .h0, .h1, .h2, .h3, .h4, .h5, .h6, .prose :is(h1,h2,h3,h4,h5,h6) {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-style: var(--heading-font-style);
    letter-spacing: var(--heading-letter-spacing);
    text-transform: var(--heading-text-transform);
    overflow-wrap: anywhere;
}
.swiper-slide img{
  width:100%;
  height:100%;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content:none !important
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content:none !important
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0 !important;
    cursor: auto;
    pointer-events: none;
}

/*model-show-product*/


.model-show-inforProudct{
  
     position: fixed;
    z-index: 100;
   
    right: 15px;
    background-color: white;
    overflow-x: hidden;
    bottom: 15px;
    border-radius: 8px;
    width: 100%;
    max-height:none;
  
    transform: translateY(200%);
    transition: all .3s ease-in-out;
}
.model-show-inforProudct_header{
  padding:1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.model-show-inforProudct_header{
  border-bottom: 1px solid rgba(35 ,49 ,75 ,0.12);
}
.jdgm-prev-badge .jdgm-prev-badge__stars{
  display:flex;
  align-items:center;
}
.model-show-inforProudct_body{
   padding:1.5rem;
}
.model-show-inforProudct_body-attributes_box{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap: wrap;
}
.model-show-inforProudct_body-attributes_box .attribute-box{
  padding:5px 20px;
  border-radius:999px;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1.5px solid rgba(35 ,49 ,75 ,0.12);
  margin-right:5px;
  margin-bottom:5px;
  cursor:pointer;
}
.model-show-inforProudct_body-attributes_box .attribute-box[data-image]:not([data-image=""]){
  background-image:var(--bg-images-attr);
  width:60px;
  height:60px;
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 1px;
  cursor:pointer;
  background-position: center;
}

.model-show-inforProudct_body-attributes_box{
  position:relative;
}
.model-show-inforProudct_body-attributes_box .attribute-box.disabel::after{
    content: "";
    background-image: linear-gradient(to bottom right,transparent calc(50% - 1px),rgb(35 49 75 / .5) calc(50% - 1px) calc(50% + 1px),transparent calc(50% + 1px));
     position: absolute;
     z-index:99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin:4px;
   
}
#addCart-modal-btn.disabel{
   pointer-events: none;
}
.model-show-inforProudct_body-attributes_box .attribute-box.disabel::after:hover{
   cursor: not-allowed;
}
.model-show-inforProudct_body-attributes_box .attribute-box.disabel{
  position: relative;
    pointer-events: none;
}
.model-show-inforProudct_body-attributes_box .attribute-box.active{
  border:1.5px solid var(--text-color);
}
.parent-titleBox .name-attribute{
  color:var(--text-color / .7) ;
  text-transform: capitalize;
}
.f-size-21{
  font-size:21px !important;
}
.f-size-17{
  font-size:17px !important;
}