@media screen and (max-width:1024px){
    .logo{
      width:100%;
    }
  }
  
  @media screen and (min-width:1024px){
    /*.search-content{*/
    /*  width:680px;*/
    /*}*/
  }
  
  @media screen and (min-width:700px){
    .search-content,.cart-content{
      width:680px;
    }
    .menu-items-mobile{
      width:400px;
    }
    .model-show-inforProudct{
       width:528px;
    }
    .search-input {
      padding-block-end: var(--spacing-3);
    }
      .search-input>input {
        font-size: 26px;
    }
    .predictive-search__tabs {
        gap: var(--spacing-6);
    }
    .sm\:gap-6 {
        gap: var(--spacing-6);
    }
    .predictive-search-result {
      gap: var(--spacing-6);
    }
    .predictive-search-result>img {
      width: 10rem;
      border-radius: 8px;
      height: 127px;
      object-fit: cover;
    }
    .d-block-width-700{
      display:none;
    }
     .d-none-width-700{
      display:block;
    }
    .image-row-6 .prose{
      padding:0px 40px !important;
      text-align:center;
    }
   
  }
  
  @media screen and (max-width:700px){
    .search-content, .cart-content{
      right:0;
    }
    .menu-items-mobile{
      left:0;
    }
     .model-show-inforProudct{
      right:0;
    }
    .d-block-width-700{
      display:block;
    }
     .d-none-width-700{
      display:none;
    }
    .menu-nav-pc{
      display:flex;
      gap:1rem 2rem;
    }
    .title-sections h2{
      font-size:32px !important;
    }
    .title-sections h1{
     font-size:32px !important;
  }
    .btn-add-cart-fast{
      display:none !important;
    }
    .pointer-fine {
        display: inline-flex !important;
    }
    .big-slide-prod{
      padding:0;
    }
    .fillter-by-template{
      flex-direction: column;
    }
    .fillter-by-template .fillter-by-box{
      width:100%;
      margin-top:20px;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .discount-money{
      top:5px !important;
      left:5px !important;
      font-size:12px !important;
    }
    #row-inner-prod{
      min-height:500px;
    }
    .name_product{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    button.btn.btn-checkout{
      width:100% !important;
    }
  }
  @media screen and (max-width:768px){
    .title-sections h1{
      margin:5px 0px !important;
    }
    .attributes-color-list{
      display:none !important;
    }
    .title-sections.d-flex.align-items-center.justify-content-between{
      flex-direction: column;
      justify-content: start !important;
      align-items: start !important;
    }
    .title-sections.d-flex.align-items-center.justify-content-between a{
      margin-bottom:10px;
    }
    .section-stack__intro{
     width:100% !important; 
    }
    .banner-content .prose .h1 split-lines{
      font-size:32px !important;
    }
    .content-khampha h5{
      font-size:22px !important;
    }
    .small-slide-prod{
      display:none;
    }
    .swiper-pagination_customer_template-product{
     display:block;
      width: max-content !important;
      border-radius: 999px;
      background: rgba(255,255,255,0.8);
      right: 0;
      margin: auto;
      padding: 0px 10px;
    }
  }
  @media screen and (max-width:1170px){
    .menu-nav-pc .menu-items-pc{
      gap: 1rem 2rem;
      font-size: 13px;
    }
    .title-element_H1{
      font-size:28px;
    }
   
  }
  @media screen and (max-width:1169px){
     .menu-items-pc{
      display:none !important;
    }
  }
  @media screen and (min-width:1169px){
    
    .none-of-min-1170{
      display:none;
    }
  }
  
  @media screen and (max-width:992px){
    .small-slide-prod{
      order:unset;
    }
    .small-slide-prod .mySwiper-smaill-prod{
      height:auto;
      width:auto;
    }
    .small-slide-prod{
      margin-top:15px;
    }
    .d-none-992{
       display:none !important;
    }
    .iN1yyt{
      flex-wrap: wrap;
      justify-content: center;
      margin:0px !important;
    }
    .attr_product_buynow_992{
      position:fixed;
      bottom:-100%;
      background:#fff;
      z-index:999;
      left: 0;
      right: 0;
      padding: calc(1.5rem *.5);
    }
    .mini-vouchers.O86G4Z .mini-vouchers__label{
      width:auto;
    }
    .mini-vouchers.O86G4Z {
     justify-content: space-between;
    }
    .d-block-992{
      display:block !important;
    }
    .SaLTSn{
      flex-direction: row !important;
    }
    .SaLTSn2{
      display:flex !important;
    }
    .JkA04H{
      flex-wrap: wrap;
    }
    .Nnq7jn , .dqCy3J , ._52vwcs ,.rwgSkh ,._3\+V9JZ{
      width:100% !important;
    }
    .E8s8O\+{
      margin-top:0 !important;
      margin-left:5px;
    }
    .rwgSkh{
      margin-top:5px;
    }
    .ZKO-zU.lcKkrC{
      display:none;
    }
    .WpmnOI {
      padding: 0.75rem !important;
    }
    .W8ezSg{
      display:flex !important;
      flex-direction: column;
    }
  }
  @media screen and (min-width:992px){
    .small-slide-prod .swiper-slide{
    padding-bottom:4px;
    }
    .small-slide-prod .swiper-slide.swiper-slide-thumb-active{
      border-bottom:1px solid;
    }
     .d-block-992{
      display:none !important;;
    }
  }
  @media screen and (max-width:397px){
      .d-flex.align-items-center.responesize-320 {
        justify-content: space-between;
        width: 100%;
        margin-top:20px;
    }
    .m-0-700{
      margin-left:0 !important;
    }
  }
  