

<section class="header">
    <header>
      <div class="top-header">
           <div class="announcement-bar text-custom">
              <marquee direction="left" class="announcement-bar__scrolling-list" style="--marquee-animation-duration:9.012s;">
               
                <div class="d-flex">
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="f-w-300" href="">
                        FREESHIP cho đơn hàng 500k
                      </a>
                      <span class="border-root-arown"></span>
                      <a class="f-w3100" href="">
                        Tặng quần Boxer 99K cho đơn hàng từ 500K
                      </a>
                        <span class="border-root-arown"></span>
                    </div>
                   
                   <div class="d-flex align-items-center justify-content-between">
                      <a class="f-w-300" href="">
                        FREESHIP cho đơn hàng 500k
                      </a>
                      <span class="border-root-arown"></span>
                      <a class="f-w-300" href="">
                        Tặng quần Boxer 99K cho đơn hàng từ 500K
                      </a>
                        <span class="border-root-arown"></span>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="f-w-300" href="">
                        FREESHIP cho đơn hàng 500k
                      </a>
                      <span class="border-root-arown"></span>
                      <a class="f-w-300" href="">
                        Tặng quần Boxer 99K cho đơn hàng từ 500K
                      </a>
                        <span class="border-root-arown"></span>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="f-w-300" href="">
                        FREESHIP cho đơn hàng 500k
                      </a>
                      <span class="border-root-arown"></span>
                      <a class="f-w-300" href="">
                        Tặng quần Boxer 99K cho đơn hàng từ 500K
                      </a>
                        <span class="border-root-arown"></span>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="f-w-300" href="">
                        FREESHIP cho đơn hàng 500k
                      </a>
                      <span class="border-root-arown"></span>
                      <a class="f-w-300" href="">
                        Tặng quần Boxer 99K cho đơn hàng từ 500K
                      </a>
                        <span class="border-root-arown"></span>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="f-w-300" href="">
                        FREESHIP cho đơn hàng 500k
                      </a>
                      <span class="border-root-arown"></span>
                      <a class="f-w-300" href="">
                        Tặng quần Boxer 99K cho đơn hàng từ 500K
                      </a>
                        <span class="border-root-arown"></span>
                    </div>
                    
                    <div class="d-flex align-items-center justify-content-between">
                      <a class="f-w-300" href="">
                        FREESHIP cho đơn hàng 500k
                      </a>
                      <span class="border-root-arown"></span>
                      <a class="f-w-300" href="">
                        Tặng quần Boxer 99K cho đơn hàng từ 500K
                      </a>
                        <span class="border-root-arown"></span>
                    </div>
                   
                </div>
              </marquee>
           </div>
      </div>
      
      <div class="mid-header">
        <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5 col-md-4 col-4">
          
                <div class="menu-nav-pc">
                  <ul class="menu-items-pc">
                  
                      
                      
                        
                         <li>
                           <a href="/categories/new-in"> New in</a>
                         
                        </li>
                        
                      
                        
                          <li>
                           <details class="relative" is="dropdown-disclosure" trigger="click">
                              <summary class="text-with-icon gap-2.5 link-faded-reverse" data-url="/categories/all">
                               Tất cả sản phẩm
                                 <svg role="presentation" focusable="false" width="10" height="7" class="icon icon-chevron-bottom" viewBox="0 0 10 7">
                                    <path d="m1 1 4 4 4-4" fill="none" stroke="currentColor" stroke-width="2"></path>
                                 </svg>
                              </summary>
                              <div class="dropdown-menu position-absolute">
                                 <ul class="contents" role="list">
                                   
                                    <li style="opacity: 1; transform: translateY(0px);"><a href="/categories/bst" class="dropdown-menu__item group">
                                       <span><span class="reversed-link">Bộ sưu tập</span></span>
                                       </a>
                                    </li>
                                   
                                    <li style="opacity: 1; transform: translateY(0px);"><a href="/categories/all" class="dropdown-menu__item group">
                                       <span><span class="reversed-link">Tất cả sản phẩm</span></span>
                                       </a>
                                    </li>
                                   
                                 </ul>
                              </div>
                           </details>
                        </li>
                        
                      
                        
                          <li>
                           <details class="relative" is="dropdown-disclosure" trigger="click">
                              <summary class="text-with-icon gap-2.5 link-faded-reverse" data-url="/pages/chinh-sach">
                               Chính sách
                                 <svg role="presentation" focusable="false" width="10" height="7" class="icon icon-chevron-bottom" viewBox="0 0 10 7">
                                    <path d="m1 1 4 4 4-4" fill="none" stroke="currentColor" stroke-width="2"></path>
                                 </svg>
                              </summary>
                              <div class="dropdown-menu position-absolute">
                                 <ul class="contents" role="list">
                                   
                                    <li style="opacity: 1; transform: translateY(0px);"><a href="/pages/huong-dan-mua-hang" class="dropdown-menu__item group">
                                       <span><span class="reversed-link">Hướng dẫn mua hàng</span></span>
                                       </a>
                                    </li>
                                   
                                    <li style="opacity: 1; transform: translateY(0px);"><a href="/pages/chinh-sach-bao-hanh" class="dropdown-menu__item group">
                                       <span><span class="reversed-link">Chính sách bảo hành</span></span>
                                       </a>
                                    </li>
                                   
                                 </ul>
                              </div>
                           </details>
                        </li>
                        
                        
                    
                  
                    
                  
                    
                    
                  </ul>
                  <button class="menu-bar_btn_for none-of-min-1170">
                    <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-hamburger" viewBox="0 0 22 22">
                      <path d="M1 5h20M1 11h20M1 17h20" stroke="currentColor" stroke-linecap="round"></path>
                    </svg>
                  </button>
                  
                  <span class="hidden d-block-width-700 search-btn-icon tap-area sm:block poiter-cur" aria-controls="search-drawer">
                         <span class="sr-only">Tìm kiếm</span>
                         <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-search" viewBox="0 0 22 22">
                            <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                            <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                         </svg>
                      </span>
                  
                </div>
              
            </div>
              <div class="col-lg-2 col-md-4 col-4  text-center">
               <a href="/">
                 <img class="logo" width="160" src="https://statics.pancake.vn/web-media/0d/28/f1/0a/2399d42b0afb6c787cd1a498bfca122cfa3deb08c0e4debea335aeb3.svg" alt="Logo">
               </a>
            </div>
              <div class="col-lg-5 col-md-4 col-4  justify-content-end">
               <div class="header__secondary-nav">
                   <div class="header__icon-list">
                      <span class="hidden d-none-width-700 search-btn-icon tap-area sm:block poiter-cur" aria-controls="search-drawer">
                         <span class="sr-only">Tìm kiếm</span>
                         <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-search" viewBox="0 0 22 22">
                            <circle cx="11" cy="10" r="7" fill="none" stroke="currentColor"></circle>
                            <path d="m16 15 3 3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                         </svg>
                      </span>
                      <a href="/customer/account" class="hidden tap-area sm:block poiter-cur d-none-width-700">
                         <span class="sr-only">Tài khoản</span>
                         <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-account" viewBox="0 0 22 22">
                            <circle cx="11" cy="7" r="4" fill="none" stroke="currentColor"></circle>
                            <path d="M3.5 19c1.421-2.974 4.247-5 7.5-5s6.079 2.026 7.5 5" fill="none" stroke="currentColor" stroke-linecap="round"></path>
                         </svg>
                      </a>
                      <span class="relative cart-btn-icon tap-area poiter-cur" aria-controls="cart-drawer">
                         <span class="sr-only">Giỏ hàng</span>
                         <svg role="presentation" stroke-width="1.5" focusable="false" width="22" height="22" class="icon icon-cart" viewBox="0 0 22 22">
                            <path d="M11 7H3.577A2 2 0 0 0 1.64 9.497l2.051 8A2 2 0 0 0 5.63 19H16.37a2 2 0 0 0 1.937-1.503l2.052-8A2 2 0 0 0 18.422 7H11Zm0 0V1" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                         </svg>
                         <div class="header__cart-count">
                            <cart-count class="count-bubble " aria-hidden="true">2</cart-count>
                         </div>
                      </span>
                   </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    
    
      <div class="overlay" part="overlay"></div>
     
      <div class="search-content">
         <div class="header-search">
           <div class="search-input">
               <input id="search-value" oninput="searchInputAPI()" value="" type="search" name="q" placeholder="Tìm kiếm cho .." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" aria-label="Tìm kiếm">
               <!--<button type="reset" class="text-subdued">Xóa</button>-->
              
               <button type="button" is="close-button">
                  <span class="sr-only">Đóng</span>
                  <svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" class="icon icon-close" viewBox="0 0 24 24">
                     <path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path>
                  </svg>
               </button>
            </div>
         </div>
         <div class="body-search mt-5">
           <predictive-search class="predictive-search" section-id="search-drawer" resources="product,article,page,collection" unavailable-products="last">
               <div slot="results" style="opacity: 1; transform: translateY(0px);">
                  <span class="sr-only" role="status">Tìm thấy 10 kết quả cho "s"</span>
                  <x-tabs class="predictive-search__tabs" selected-index="0" style="--selected-index:0; --item-count:3;">
                     <template>
                        <style>
                           [role="tablist"]::-webkit-scrollbar {display: none;}
                           :host {
                           --predictive-search-column-width: 0px;
                           }
                        </style>
                        <slot role="tablist" part="tab-list" name="title"></slot>
                        <slot part="tab-panels" name="content"></slot>
                     </template>
                    
                     <div class="predictive-search__tab-content v-stack gap-4 sm:gap-6" slot="content" role="tabpanel" aria-labelledby="tab-53d5570c-a70a-4a03-a745-9f8340cb7c45-0" id="tab-panel-53d5570c-a70a-4a03-a745-9f8340cb7c45-0">
                      
                       
                     </div>
                     <button class="see-more-btn">Xem thêm</button>
                     
                  </x-tabs>
               </div>
              
            </predictive-search>
         </div>
     </div>
     
     
      <div id="cart_content" class="cart-content">
         <div class="header-cart">
           <div class="cart-buttom-close">
                  
              <div class="d-flex align-items-center position-relative">
                <span>Giỏ hàng</span>
                <span class="count-bubble count-bubble-cart-items ms-4">2</span>
              </div>
            
               <button type="button" is="close-button">
                  <span class="sr-only">Đóng</span>
                  <svg role="presentation" stroke-width="2" focusable="false" width="24" height="24" class="icon icon-close" viewBox="0 0 24 24">
                     <path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path>
                  </svg>
               </button>
            </div>
         </div>
        
       <div id="inner-cart-body" class="body-cart-items flex-1">
         <div class="items-cart-add-cart">
           
           <div class="items-cart-box">
             <div class="img-item">
                <img src="https://statics.pancake.vn/web-media/08/2e/a2/c6/ee730bc3daa7feb72a1b5c7f92e873ba8c1c0c11176ba570b0d07bec.jpeg">
             </div>
             
             <div class="infor-names-items">
               <div class="name-items_cart mb-1">
                 <a href="/products/ao-polo-nam-basicman-vai-cmc-phom-regular-fit">
                   Áo Polo Nam Basicman vải CMC phom Regular Fit
                 </a>
               </div>
              <div class="mb-1">299.000đ</div>
               <div class="mb-1">Xanh đen /S</div>
             </div>
             <div class="quantity-remove-box-item_header">
               <input readonly="" class="input-quantity-item" type="number" value="1">
               <a href="/cart/action?spec=delete&amp;id=5767025&amp;type=product">Xóa</a>
             </div>
           </div>
           
           <div class="items-cart-box">
             <div class="img-item">
                <img src="https://statics.pancake.vn/web-media/52/19/7a/14/0d3d7c5032857ecd56c442477c125dac23a3cd65f404f669436edd5e.jpeg">
             </div>
             
             <div class="infor-names-items">
               <div class="name-items_cart mb-1">
                 <a href="/products/ao-polo-nam-renzo-vai-cmc-phom-regular-fit">
                   Áo Polo Nam Renzo vải CMC phom Regular Fit
                 </a>
               </div>
              <div class="mb-1">299.000đ</div>
               <div class="mb-1">M</div>
             </div>
             <div class="quantity-remove-box-item_header">
               <input readonly="" class="input-quantity-item" type="number" value="1">
               <a href="/cart/action?spec=delete&amp;id=5767340&amp;type=product">Xóa</a>
             </div>
           </div>
           
         </div>
        </div>
        <footer id="cart_footer" class="cart_footer">
         <div class="d-flex align-items-center justify-content-between mb-1">
           <div class="title-content">Tổng cộng</div>
           <div id="title-content-money" class="title-content">598.000đ</div>
         </div>
         <div class="cart_footer-ship-content mb-1">
           Phí vận chuyển (nếu có) sẽ được tính toán trong trang thanh toán.
         </div>
          <div class="cart_footer-noteOrder link mb-1">
          Ghi chú đơn hàng
         </div>
         <div class="d-flex mt-5">
            <a href="/cart" class="btn flex-1 text-center me-2 background-main2">Xem giỏ hàng</a>
            <a href="/cart/checkout" class="btn flex-1 text-center ms-2">Thanh toán</a>
         </div>
       </footer>    
       
     
      </div>
      
      <div class="menu-items-mobile">
        <div class="menu-items-mobile_header">
            <button is="close-button" aria-label="Đóng">
                <svg role="presentation" stroke-width="2" focusable="false" width="19" height="19" class="icon icon-close" viewBox="0 0 24 24">
                  <path d="M17.658 6.343 6.344 17.657M17.658 17.657 6.344 6.343" stroke="currentColor"></path>
                </svg>
            </button>
        
        </div>
        
        <div class="menu-items-mobile_body">
           <div class="menu-items_mobile_list">
              
                      
                     
                        <ul class="list_items_mobile">
                           
                             
                             <li class="mb-2">
                               <a href="/categories/new-in">New in</a>
                             </li>
                             
                            
                             
                             <li class="mb-2 menu-items-parents_mobile">
                               <div class="d-flex align-items-center justify-content-between">
                                   <button class="bold">Tất cả sản phẩm</button>
                                     <span class="arow_items_chidren arow-btn-genaral"> 
                                      <svg role="presentation" focusable="false" width="5" height="8" class="icon icon-chevron-right-small reverse-icon" viewBox="0 0 5 8">
                                        <path d="m.75 7 3-3-3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                      </svg> 
                                    </span>
                               </div>
                               
                               <ul class="menu-item2-mobile">
                                
                                
                                   <li class="mb-2">
                                     <a href="/categories/bst">Bộ sưu tập</a>
                                   </li>
                                   
                                
                                
                                   <li class="mb-2">
                                     <a href="/categories/all">Tất cả sản phẩm</a>
                                   </li>
                                   
                                   
                               </ul>
                              
                                
                             </li>
                             
                            
                             
                             <li class="mb-2 menu-items-parents_mobile">
                               <div class="d-flex align-items-center justify-content-between">
                                   <button class="bold">Chính sách</button>
                                     <span class="arow_items_chidren arow-btn-genaral"> 
                                      <svg role="presentation" focusable="false" width="5" height="8" class="icon icon-chevron-right-small reverse-icon" viewBox="0 0 5 8">
                                        <path d="m.75 7 3-3-3-3" fill="none" stroke="currentColor" stroke-width="1.5"></path>
                                      </svg> 
                                    </span>
                               </div>
                               
                               <ul class="menu-item2-mobile">
                                
                                
                                   <li class="mb-2">
                                     <a href="/pages/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                                   </li>
                                   
                                
                                
                                   <li class="mb-2">
                                     <a href="/pages/chinh-sach-bao-hanh">Chính sách bảo hành</a>
                                   </li>
                                   
                                   
                               </ul>
                              
                                
                             </li>
                             
                               
                        </ul>
                    
              
                    
              
                    
                    
           </div>
        </div>
        
        <!--<svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">-->
        <!--  <path d="M0.21967 0.46967C0.512563 0.176777 0.987437 0.176777 1.28033 0.46967L8 7.18934L14.7197 0.46967C15.0126 0.176777 15.4874 0.176777 15.7803 0.46967C16.0732 0.762563 16.0732 1.23744 15.7803 1.53033L8.53033 8.78033C8.23744 9.07322 7.76256 9.07322 7.46967 8.78033L0.21967 1.53033C-0.0732233 1.23744 -0.0732233 0.762563 0.21967 0.46967Z" fill="#323130"/>-->
        <!--</svg>-->
        <div class="menu-items-mobile_footer">
          <div class="panel-footer v-stack gap-5">
               <ul class="social-media " role="list">
                  <li>
                     <a href="https://www.facebook.com/Polomanor.official" class="tap-area" target="_blank" rel="noopener" aria-label="Follow POLOMANOR Facebook">
                        <svg role="presentation" focusable="false" width="27" height="27" class="icon icon-facebook" viewBox="0 0 24 24">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M10.183 21.85v-8.868H7.2V9.526h2.983V6.982a4.17 4.17 0 0 1 4.44-4.572 22.33 22.33 0 0 1 2.667.144v3.084h-1.83a1.44 1.44 0 0 0-1.713 1.68v2.208h3.423l-.447 3.456h-2.97v8.868h-3.57Z" fill="currentColor"></path>
                        </svg>
                     </a>
                  </li>
                  <li>
                     <a href="https://www.instagram.com/polomanor.vn" class="tap-area" target="_blank" rel="noopener" aria-label="Follow POLOMANOR Instagram">
                        <svg role="presentation" focusable="false" width="27" height="27" class="icon icon-instagram" viewBox="0 0 24 24">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.4c-2.607 0-2.934.011-3.958.058-1.022.046-1.72.209-2.33.446a4.705 4.705 0 0 0-1.7 1.107 4.706 4.706 0 0 0-1.108 1.7c-.237.611-.4 1.31-.446 2.331C2.41 9.066 2.4 9.392 2.4 12c0 2.607.011 2.934.058 3.958.046 1.022.209 1.72.446 2.33a4.706 4.706 0 0 0 1.107 1.7c.534.535 1.07.863 1.7 1.108.611.237 1.309.4 2.33.446 1.025.047 1.352.058 3.959.058s2.934-.011 3.958-.058c1.022-.046 1.72-.209 2.33-.446a4.706 4.706 0 0 0 1.7-1.107 4.706 4.706 0 0 0 1.108-1.7c.237-.611.4-1.31.446-2.33.047-1.025.058-1.352.058-3.959s-.011-2.934-.058-3.958c-.047-1.022-.209-1.72-.446-2.33a4.706 4.706 0 0 0-1.107-1.7 4.705 4.705 0 0 0-1.7-1.108c-.611-.237-1.31-.4-2.331-.446C14.934 2.41 14.608 2.4 12 2.4Zm0 1.73c2.563 0 2.867.01 3.88.056.935.042 1.443.199 1.782.33.448.174.768.382 1.104.718.336.336.544.656.718 1.104.131.338.287.847.33 1.783.046 1.012.056 1.316.056 3.879 0 2.563-.01 2.867-.056 3.88-.043.935-.199 1.444-.33 1.782a2.974 2.974 0 0 1-.719 1.104 2.974 2.974 0 0 1-1.103.718c-.339.131-.847.288-1.783.33-1.012.046-1.316.056-3.88.056-2.563 0-2.866-.01-3.878-.056-.936-.042-1.445-.199-1.783-.33a2.974 2.974 0 0 1-1.104-.718 2.974 2.974 0 0 1-.718-1.104c-.131-.338-.288-.847-.33-1.783-.047-1.012-.056-1.316-.056-3.879 0-2.563.01-2.867.056-3.88.042-.935.199-1.443.33-1.782.174-.448.382-.768.718-1.104a2.974 2.974 0 0 1 1.104-.718c.338-.131.847-.288 1.783-.33C9.133 4.14 9.437 4.13 12 4.13Zm0 11.07a3.2 3.2 0 1 1 0-6.4 3.2 3.2 0 0 1 0 6.4Zm0-8.13a4.93 4.93 0 1 0 0 9.86 4.93 4.93 0 0 0 0-9.86Zm6.276-.194a1.152 1.152 0 1 1-2.304 0 1.152 1.152 0 0 1 2.304 0Z" fill="currentColor"></path>
                        </svg>
                     </a>
                  </li>
                  <li>
                     <a href="https://www.youtube.com/channel/UCwbTaxyQ4I0JR0oF7NJ8Ocg" class="tap-area" target="_blank" rel="noopener" aria-label="Follow POLOMANOR YouTube">
                        <svg role="presentation" focusable="false" width="27" height="27" class="icon icon-youtube" viewBox="0 0 24 24">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M20.44 5.243c.929.244 1.66.963 1.909 1.876.451 1.654.451 5.106.451 5.106s0 3.452-.451 5.106a2.681 2.681 0 0 1-1.91 1.876c-1.684.443-8.439.443-8.439.443s-6.754 0-8.439-.443a2.682 2.682 0 0 1-1.91-1.876c-.45-1.654-.45-5.106-.45-5.106s0-3.452.45-5.106a2.681 2.681 0 0 1 1.91-1.876c1.685-.443 8.44-.443 8.44-.443s6.754 0 8.438.443Zm-5.004 6.982L9.792 15.36V9.091l5.646 3.134Z" fill="currentColor"></path>
                        </svg>
                     </a>
                  </li>
                  <li>
                     <a href="https://www.tiktok.com/@polomanor.official" class="tap-area" target="_blank" rel="noopener" aria-label="Follow POLOMANOR TikTok">
                        <svg role="presentation" focusable="false" width="27" height="27" class="icon icon-tiktok" viewBox="0 0 24 24">
                           <path d="M20.027 10.168a5.125 5.125 0 0 1-4.76-2.294v7.893a5.833 5.833 0 1 1-5.834-5.834c.122 0 .241.011.361.019v2.874c-.12-.014-.237-.036-.36-.036a2.977 2.977 0 0 0 0 5.954c1.644 0 3.096-1.295 3.096-2.94L12.56 2.4h2.75a5.122 5.122 0 0 0 4.72 4.573v3.195" fill="currentColor"></path>
                        </svg>
                     </a>
                  </li>
               </ul>
               <div class="panel-footer__localization-wrapper h-stack gap-6 border-t md:hidden"><a href="/customer/account" class="panel-footer__account-link  text-sm">Tài khoản</a></div>
            </div>
        </div>
      </div>
    
</section>

<script>
// search bar event
  let searchBtns = document.querySelectorAll('.search-btn-icon');
  for(let searchBtn of searchBtns){
    searchBtn.addEventListener('click',() => {
      document.querySelector('.search-content').style.transform = 'translateX(0px)';
      document.querySelector('.overlay').style.display ='block'
    })
  }
  
   let btnSeeMore = document.querySelector('.see-more-btn')
    btnSeeMore.addEventListener('click',()=>{
      let inputSearch = document.getElementById('search-value')
      let value = inputSearch.value;
      window.location.href =`search?q=${value}`
    })
    
 // cart bar event 
  let cartBtn =  document.querySelector('.cart-btn-icon');
    cartBtn.addEventListener('click',() => {
    document.querySelector('.cart-content').style.transform = 'translateX(0px)';
    document.querySelector('.overlay').style.display ='block'
  })
  
   // overlay bar event 
  let overlay = document.querySelector('.overlay');
    overlay.addEventListener('click',() => {
      document.querySelector('.search-content').style.transform = 'translateX(200%)';
       document.querySelector('.cart-content').style.transform = 'translateX(200%)';
        document.querySelector('.menu-items-mobile').style.transform = 'translateX(-200%)';
       {{!-- document.querySelector('.model-show-inforProudct').style.transform = 'translateY(200%)'; --}}
      
      document.querySelector('.overlay').style.display ='none'
    })
    
  // button close event  
  let btnCloses = document.querySelectorAll("button[is='close-button']");
    for(let btnClose of btnCloses ){
        btnClose.addEventListener('click',() => {
         document.querySelector('.search-content').style.transform = 'translateX(200%)';
         document.querySelector('.cart-content').style.transform = 'translateX(200%)';
          document.querySelector('.menu-items-mobile').style.transform = 'translateX(-200%)';
          {{!-- document.querySelector('.model-show-inforProudct').style.transform = 'translateY(200%)'; --}}
          document.querySelector('.overlay').style.display ='none'
      })
    }
  // menu bar moblie event
  
  let menuBarBtn = document.querySelector('.menu-bar_btn_for');
   menuBarBtn.addEventListener('click',() => {
    document.querySelector('.menu-items-mobile').style.transform = 'translateX(0px)';
    document.querySelector('.overlay').style.display ='block'
  })
  
  // arrow button show menu item 2
  
  let menuArrowItems = document.querySelectorAll('.arow_items_chidren')
    for( let arrow of menuArrowItems){
      arrow.addEventListener('click',(e)=>{
       e.target.closest('.menu-items-parents_mobile').querySelector('.menu-item2-mobile').classList.toggle('active')
      })
    }
   
  // window scroll header to fixed 
 
  window.onscroll = ()=>{
       let headerFixed = document.querySelector('.mid-header');
       if(window.scrollY > 30){
         headerFixed.classList.add('sticky')
       }else{
         headerFixed.classList.remove('sticky')
       }
  }
 
  
</script>


<script>
let tabpanner = document.getElementById('tab-panel-53d5570c-a70a-4a03-a745-9f8340cb7c45-0')

function debounce(func, timeout = 700){
  let timer;
  return (...args) => {
    clearTimeout(timer);
    timer = setTimeout(() => { func.apply(this, args); }, timeout);
  };
}
const searchInputAPI = debounce(()=> handleOnchange())

  function handleOnchange(){
    let hreflocal = window.location.origin
    let inputSearch = document.getElementById('search-value')
    let value = inputSearch.value
   
   
        
       tabpanner.innerHTML = `
            <div class='d-flex justify-content-center'>
               <div class="lds-facebook"><div></div><div></div><div></div></div>
            </div>
        `
    if(value !="")  {  
      fetch(`${hreflocal}/search_custom?q=${value}&limit=8&page=1`)
        .then((res)=> res.json())
        .then((res)=>{
        let allData = res.data.template.search.items;
        let total = res.data.template.search.total
         tabpanner.innerHTML=''
          if(total == 0){
              tabpanner.innerHTML = `Không tìm thấy kết quả cho "${value}"`
               document.querySelector('.see-more-btn').style.display ='none'
          }else{
          
          for(let item of allData){
            if(total > 8 ){
              document.querySelector('.see-more-btn').style.display ='block'
            }else{
              document.querySelector('.see-more-btn').style.display ='none'
            }
            let price = item.min_price != item.max_price && item.max_price != 0 ? `
                        <price-list class="price-list  ">
                            <sale-price class="text-on-sale">
                              <span class="sr-only">Giá khuyến mãi</span>${formatMoneyDnt(item.min_price)}₫
                            </sale-price>
                            <compare-at-price class="text-subdued line-through">
                              <span class="sr-only">Giá niêm yết</span>${formatMoneyDnt(item.max_price)}₫
                            </compare-at-price>
                        </price-list>`
                        :
                        ` <price-list class="price-list  ">
                            <sale-price class="text-on-sale">
                              <span class="sr-only">Giá khuyến mãi</span>${formatMoneyDnt(item.min_price)}₫
                            </sale-price>
                           
                        </price-list>`
           
            tabpanner.innerHTML += `
                <a href="/products/${item.slug}" class="predictive-search-result group">
                  <img src="${item.images[0]}" alt="${item.name}">
                  <div class="v-stack gap-1 sm:gap-1.5">
                      <div class="v-stack justify-items-start gap-0.5">
                        <span class="bold">
                        <span class="reversed-link">${item.name}</span>
                        </span>
                         
                        ${price}
                      </div>
                  </div>
                </a>
            `
          }
          
          }
        })
   
    }else{
      tabpanner.innerHTML = ``
      document.querySelector('.see-more-btn').style.display ='none'
    }
   
  }
  
  function formatMoneyDnt(num) {
    return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
  } 
</script>